@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin";
}

<div class="container mt-4">
    <h2>Admin Dashboard</h2>

    <ul>
        <li><a asp-area="Admin" asp-controller="Club" asp-action="Index">Manage Club</a></li>
        <li><a asp-area="Admin" asp-controller="ClassCategory" asp-action="Index">Manage Class Category</a></li>
        <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Manage User</a></li>
    </ul>
</div>
