@{
    Layout = "_Layout";
    ViewBag.Title = "Cookie Policy";
}

<div class="container mt-4">
    <h2>Cookie Policy</h2>
    <p>We use cookies to enhance your experience on our site and to understand how visitors interact with our content.</p>
    <p>By continuing to use our website, you consent to our use of cookies in accordance with this policy.</p>
    <p>
        For more information on how we use and store data, please contact us at
        <a href="mailto:support@equinoxelite.com">support@equinoxelite.com</a>.
    </p>
</div>
