@{
    Layout = "_MainLayout";
    ViewBag.Title = "Cookie Policy";
}

<div class="container mt-4">
    <h2>Cookie Policy</h2>
    <p>We use cookies to enhance your experience on our site and to understand how visitors engage with our content.</p>
    <p>By continuing to use our site, you consent to our use of cookies.</p>
    <p>For more information on how we use data, please contact us at <a href="mailto:support@equinoxelite.com">support@equinoxelite.com</a>.</p>
</div>
