@{
    Layout = "_MainLayout";
    ViewBag.Title = "Terms & Conditions";
}

<div class="container mt-4">
    <h2>Terms & Conditions</h2>
    <p>By accessing and using the Equinox Fitness website, you agree to comply with our terms and conditions. These terms govern your use of our services, content, and interactions on the site.</p>

    <p>All content provided on this site is for informational purposes only. Equinox reserves the right to modify services, content, or policies at any time without prior notice.</p>

    <p>If you have any questions about these terms, please contact us at 
    <a href="mailto:support@equinoxelite.com">support@equinoxelite.com</a>.</p>
</div>
